/*
 * Empty Stylesheet file.
 */

.table-view{
    -fx-padding: 0;
    -fx-border-radius: 8px;
    -fx-border-color: linear-gradient(to bottom right, #188ba7, #306090);
}
.table-view .column-header-background{
    -fx-background-color: linear-gradient(to bottom right, #188ba7, #306090);
    -fx-background-insets: 0 0 0 0;
    -fx-background-radius: 8px 8px 0 0 ;
}
.table-view .column-header, .filter{
    -fx-size: 40px;
    -fx-background-color: transparent;
}
.table-view .column-header .label{
    -fx-font-family: Arial;
    -fx-text-fill: #fff;
}